@import "../../../colors/black/black-translucid";
@import "../../../colors/white/white-translucid";
@import "../input-simple-text";

:host::ng-deep {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  position: relative;

  .input-container.light {
    .custom-combobox-input {
      background-color: $black-translucid-1 !important;

      &::placeholder {
        color: $white-translucid-2 !important;
      }
    }
    .custom-combobox-input:-ms-input-placeholder {
      color: $white-translucid-2 !important;
    }
    a {
      background-color: $black-translucid-1 !important;
    }
  }
}
