@use "../../../colors/black/c-black-translucid";
@use "../../../colors/white/c-white-translucid";
@use "../input-simple-text";

//noinspection CssInvalidPseudoSelector
:host::ng-deep {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  position: relative;

  .input-container.light {
    .custom-combobox-input {
      background-color: c-black-translucid.$t1 !important;

      &::placeholder {
        color: c-white-translucid.$t2 !important;
      }
    }
    .custom-combobox-input:-ms-input-placeholder {
      color: c-white-translucid.$t2 !important;
    }
    a {
      background-color: c-black-translucid.$t1 !important;
    }
  }
}
