@use "../../../colors/black/black-translucid";
@use "../../../colors/white/white-translucid";
@use "../input-simple-text";

//noinspection CssInvalidPseudoSelector
:host::ng-deep {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  position: relative;

  .input-container.light {
    .custom-combobox-input {
      background-color: black-translucid.$black-translucid-1 !important;

      &::placeholder {
        color: white-translucid.$white-translucid-2 !important;
      }
    }
    .custom-combobox-input:-ms-input-placeholder {
      color: white-translucid.$white-translucid-2 !important;
    }
    a {
      background-color: black-translucid.$black-translucid-1 !important;
    }
  }
}
