$d: #f2f2f2;
$d1: lighten($d, 0.1);
$d2: lighten($d, 0.2);
$d3: lighten($d, 0.3);
$d4: lighten($d, 0.4);
$d5: lighten($d, 0.5);
$d6: lighten($d, 0.6);
$d6: lighten($d, 0.7);
$d7: lighten($d, 0.8);
$d8: lighten($d, 0.8);
$d9: lighten($d, 0.9);
