$d: #64666c;

$t9: rgba($d, 0.9);

$alternative: #545454;

$d1: darken($d, 10%);
$d1-3: darken($d, 13%);
$d1-5: darken($d, 15%);
$d1-8: darken($d, 18%);

$d2: darken($d, 20%);
$d2-1: darken($d, 21%);
$d2-2: darken($d, 22%);
$d2-3: darken($d, 23%);
$d2-5: darken($d, 25%);
$d2-6: darken($d, 26%);
$d2-7: darken($d, 27%);

$d3: darken($d, 30%);
$d3-2: darken($d, 32%);
$d3-4: darken($d, 34%);
$d3-5: darken($d, 35%);

$d4: darken($d, 40%);
$d5: darken($d, 50%);
$d6: darken($d, 60%);
$d7: darken($d, 70%);
$d8: darken($d, 80%);
$d9: darken($d, 90%);
$d10: darken($d, 100%);
