$d: #767676;
$d1: darken($d, 0.1);
$d2: darken($d, 0.2);
$d3: darken($d, 0.3);
$d4: darken($d, 0.4);
$d5: darken($d, 0.5);
$d6: darken($d, 0.6);
$d7: darken($d, 0.7);
$d8: darken($d, 0.8);
$d9: darken($d, 0.9);
$d10: darken($d, 1.0);
$d20: darken($d, 2.0);
$d40: darken($d, 4.0);
$d70: darken($d, 7.0);
