$d: #64666c;

$d1: lighten($d, 10%);
$d1-5: lighten($d, 15%);

$d2: lighten($d, 20%);
$d3: lighten($d, 30%);
$d4: lighten($d, 40%);
$d5: lighten($d, 50%);
$d6: lighten($d, 60%);
$d7: lighten($d, 70%);
$d8: lighten($d, 80%);
$d9: lighten($d, 90%);
$d10: lighten($d, 100%);
