$medium-gray: #767676;
$gray-medium-dark-1: darken($medium-gray, 0.1);
$gray-medium-dark-2: darken($medium-gray, 0.2);
$gray-medium-dark-3: darken($medium-gray, 0.3);
$gray-medium-dark-4: darken($medium-gray, 0.4);
$gray-medium-dark-5: darken($medium-gray, 0.5);
$gray-medium-dark-6: darken($medium-gray, 0.6);
$gray-medium-dark-7: darken($medium-gray, 0.7);
$gray-medium-dark-8: darken($medium-gray, 0.8);
$gray-medium-dark-9: darken($medium-gray, 0.9);
$gray-medium-dark-10: darken($medium-gray, 1.0);
$gray-medium-dark-20: darken($medium-gray, 2.0);
$gray-medium-dark-40: darken($medium-gray, 4.0);
$gray-medium-dark-70: darken($medium-gray, 7.0);
