$dark-gray: #64666c;

$dark-gray-translucid-9: rgba($dark-gray, 0.9);

$dark-gray-alternative: #545454;

$dark-gray-1: darken($dark-gray, 10%);
$dark-gray-1-3: darken($dark-gray, 13%);
$dark-gray-1-5: darken($dark-gray, 15%);
$dark-gray-1-8: darken($dark-gray, 18%);

$dark-gray-2: darken($dark-gray, 20%);
$dark-gray-2-1: darken($dark-gray, 21%);
$dark-gray-2-2: darken($dark-gray, 22%);
$dark-gray-2-3: darken($dark-gray, 23%);
$dark-gray-2-5: darken($dark-gray, 25%);
$dark-gray-2-6: darken($dark-gray, 26%);
$dark-gray-2-7: darken($dark-gray, 27%);

$dark-gray-3: darken($dark-gray, 30%);
$dark-gray-3-2: darken($dark-gray, 32%);
$dark-gray-3-4: darken($dark-gray, 34%);
$dark-gray-3-5: darken($dark-gray, 35%);

$dark-gray-4: darken($dark-gray, 40%);
$dark-gray-5: darken($dark-gray, 50%);
$dark-gray-6: darken($dark-gray, 60%);
$dark-gray-7: darken($dark-gray, 70%);
$dark-gray-8: darken($dark-gray, 80%);
$dark-gray-9: darken($dark-gray, 90%);
$dark-gray-10: darken($dark-gray, 100%);
