$default: #64666c;

$t9: rgba($default, 0.9);

$alternative: #545454;

$d1: darken($default, 10%);
$d1-3: darken($default, 13%);
$d1-5: darken($default, 15%);
$d1-8: darken($default, 18%);

$d2: darken($default, 20%);
$d2-1: darken($default, 21%);
$d2-2: darken($default, 22%);
$d2-3: darken($default, 23%);
$d2-5: darken($default, 25%);
$d2-6: darken($default, 26%);
$d2-7: darken($default, 27%);

$d3: darken($default, 30%);
$d3-2: darken($default, 32%);
$d3-4: darken($default, 34%);
$d3-5: darken($default, 35%);

$d4: darken($default, 40%);
$d5: darken($default, 50%);
$d6: darken($default, 60%);
$d7: darken($default, 70%);
$d8: darken($default, 80%);
$d9: darken($default, 90%);
$d10: darken($default, 100%);
