$gray: gray;
$gray-light-1: lighten($gray, 0.1);
$gray-light-2: lighten($gray, 0.2);
$gray-light-3: lighten($gray, 0.3);
$gray-light-4: lighten($gray, 0.4);
$gray-light-5: lighten($gray, 0.5);
$gray-light-6: lighten($gray, 0.6);
$gray-light-7: lighten($gray, 0.7);
$gray-light-8: lighten($gray, 0.8);
$gray-light-9: lighten($gray, 0.9);
$gray-light-10: lighten($gray, 1.0);
