$default: gray;
$d1: lighten($default, 0.1);
$d2: lighten($default, 0.2);
$d3: lighten($default, 0.3);
$d4: lighten($default, 0.4);
$d5: lighten($default, 0.5);
$d6: lighten($default, 0.6);
$d7: lighten($default, 0.7);
$d8: lighten($default, 0.8);
$d9: lighten($default, 0.9);
$d10: lighten($default, 1.0);
