$default: #767676;
$d1: darken($default, 0.1);
$d2: darken($default, 0.2);
$d3: darken($default, 0.3);
$d4: darken($default, 0.4);
$d5: darken($default, 0.5);
$d6: darken($default, 0.6);
$d7: darken($default, 0.7);
$d8: darken($default, 0.8);
$d9: darken($default, 0.9);
$d10: darken($default, 1.0);
$d20: darken($default, 2.0);
$d40: darken($default, 4.0);
$d70: darken($default, 7.0);
