$medium-gray: #767676;
$medium-gray-1: lighten($medium-gray, 10%);
$medium-gray-2: lighten($medium-gray, 20%);
$medium-gray-3: lighten($medium-gray, 30%);
$medium-gray-4: lighten($medium-gray, 40%);
$medium-gray-5: lighten($medium-gray, 50%);
$medium-gray-6: lighten($medium-gray, 60%);
$medium-gray-7: lighten($medium-gray, 70%);
$medium-gray-7-5: lighten($medium-gray, 75%);
$medium-gray-8: lighten($medium-gray, 80%);
$medium-gray-9: lighten($medium-gray, 90%);
$medium-gray-10: lighten($medium-gray, 100%);
