$dark-gray: #64666c;

$light-dark-gray-1: lighten($dark-gray, 10%);
$light-dark-gray-1-5: lighten($dark-gray, 15%);

$light-dark-gray-2: lighten($dark-gray, 20%);
$light-dark-gray-3: lighten($dark-gray, 30%);
$light-dark-gray-4: lighten($dark-gray, 40%);
$light-dark-gray-5: lighten($dark-gray, 50%);
$light-dark-gray-6: lighten($dark-gray, 60%);
$light-dark-gray-7: lighten($dark-gray, 70%);
$light-dark-gray-8: lighten($dark-gray, 80%);
$light-dark-gray-9: lighten($dark-gray, 90%);
$light-dark-gray-10: lighten($dark-gray, 100%);
