$gray-high-light : #f2f2f2;
$gray-high-light-1: lighten($gray-high-light, 0.1);
$gray-high-light-2: lighten($gray-high-light, 0.2);
$gray-high-light-3: lighten($gray-high-light, 0.3);
$gray-high-light-4: lighten($gray-high-light, 0.4);
$gray-high-light-5: lighten($gray-high-light, 0.5);
$gray-high-light-6: lighten($gray-high-light, 0.6);
$gray-high-light-6: lighten($gray-high-light, 0.7);
$gray-high-light-7: lighten($gray-high-light, 0.8);
$gray-high-light-8: lighten($gray-high-light, 0.8);
$gray-high-light-9: lighten($gray-high-light, 0.9);
