$default: #767676;
$d1: lighten($default, 10%);
$d2: lighten($default, 20%);
$d3: lighten($default, 30%);
$d4: lighten($default, 40%);
$d5: lighten($default, 50%);
$d6: lighten($default, 60%);
$d7: lighten($default, 70%);
$d7-5: lighten($default, 75%);
$d8: lighten($default, 80%);
$d9: lighten($default, 90%);
$d10: lighten($default, 100%);
