$light-pink: #D882A1;
$light-pink-translucid-1:rgba($light-pink, 0.1);
$light-pink-translucid-3:rgba($light-pink, 0.3);
$light-pink-translucid-5:rgba($light-pink, 0.5);
$light-pink-translucid-7:rgba($light-pink, 0.7);
