$dark-pink: #b01e45;
$dark-pink-1: darken($dark-pink, 10%);
$dark-pink-translucid: rgba(#b01e45, 0.8);
$dark-pink-translucid-3: rgba($dark-pink, 0.3);
$dark-pink-translucid-5: rgba($dark-pink, 0.5);
$dark-pink-translucid-9: rgba($dark-pink, 0.9);
