$default: #d24077;

$d1: rgba($default, 0.1);
$d2: rgba($default, 0.2);
$d3: rgba($default, 0.3);
$d4: rgba($default, 0.4);
$d5: rgba($default, 0.5);
$d6: rgba($default, 0.6);
$d7: rgba($default, 0.7);
$d8: rgba($default, 0.8);
$d9: rgba($default, 0.9);
