$pink : #d24077;

$pink-translucid-1 : rgba($pink, 0.1);
$pink-translucid-2 : rgba($pink, 0.2);
$pink-translucid-3 : rgba($pink, 0.3);
$pink-translucid-4 : rgba($pink, 0.4);
$pink-translucid-5 : rgba($pink, 0.5);
$pink-translucid-6 : rgba($pink, 0.6);
$pink-translucid-7 : rgba($pink, 0.7);
$pink-translucid-8 : rgba($pink, 0.8);
$pink-translucid-9 : rgba($pink, 0.9);
