@use "montserrat" as montserrat;
@use "big-shoulders-display" as big-shoulders;

$montserrat-font-family: montserrat.$montserrat-font-family;
$big-shoulders: big-shoulders.$big-shoulders-display-font-family;

@mixin font-family-custom($_weight: 'light', $_font-family: $montserrat-font-family) {
  font-family: $_font-family;

  @if $_weight == 'thin'{ font-weight: 100; }
  @else if $_weight == 'extra-light'{ font-weight: 200; }
  @else if $_weight == 'light'{ font-weight: 300; }
  @else if $_weight == 'regular'{ font-weight: 400; }
  @else if $_weight == 'medium'{ font-weight: 500; }
  @else if $_weight == 'semi-bold'{ font-weight: 600; }
  @else if $_weight == 'bold'{ font-weight: 700; }
  @else if $_weight == 'extra-bold'{ font-weight: 800; }
  @else if $_weight == 'black'{ font-weight: 900; }
}
