@use "../colors/pink/c-pink";
@use "../colors/white/c-white-translucid";

@mixin error {
  background-color: rgba(c-pink.$d, 0.3) !important;
  border-color: rgb(230, 73, 73) !important;
  color: white !important;


  &::placeholder {
    color: c-white-translucid.$t3 !important;
  }
  transition: all 0.2s ease-in-out;
}

.required-fill {
  @include error;
}

.error-highlight {
  @include error;
}
