@use "../colors/pink/pink";
@use "../colors/white/white";
@use "../colors/white/white-translucid";

@mixin error {
  background-color: rgba(pink.$default, 0.3) !important;
  border-color: rgb(230, 73, 73) !important;
  color: white.$default !important;


  &::placeholder {
    color: white-translucid.$t3 !important;
  }
  transition: all 0.2s ease-in-out;
}

.required-fill {
  @include error;
}

.error-highlight {
  @include error;
}
