$t1: rgba(0, 0, 0, 0.1);
$t2: rgba(0, 0, 0, 0.2);
$t3: rgba(0, 0, 0, 0.3);
$t4: rgba(0, 0, 0, 0.4);
$t5: rgba(0, 0, 0, 0.5);
$t6: rgba(0, 0, 0, 0.6);
$t7: rgba(0, 0, 0, 0.7);
$t8: rgba(0, 0, 0, 0.8);
$t0: rgba(0, 0, 0, 1);
