@use "../../fonts/fonts";
@use "../../colors/gray/c-gray-dark";

%item-content {
  @include fonts.font-family-custom(regular);
  padding: 0.8em;
  border: none;
  background-color: c-gray-dark.$d2;
  color: white;
  font-size: 0.45em;

  &::placeholder {
    color: c-gray-dark.$d;
  }
}

.item-content {
  @extend %item-content;
}

.item-content.left { text-align: left; }
.item-content.center { text-align: center; }
.item-content.right { text-align: right; }
